@font-face {
    font-family: gitlab-sans;
    src: url(GitLabSans.ttf);
}

:root {
    --info-blue: rgb(191, 219, 254);
    --table-header-color: rgb(168, 203, 245);
    --text-color: rgb(241, 245, 249);
}

body {
    background-color: rgb(28, 28, 28);
}

body, .screen * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.screen {
    display: flex;
    width: 100%;
    min-height: 100vh;
    /*rgb(51, 61, 65);*/
}

.page {
    padding: 27px 50px;
    /*width: 100%;*/
    width: calc(min(1000px, 100%));
    /*max-width: 100%;*/
}

.page-centerer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.page * {
    font-family: gitlab-sans, sans-serif;
}

.page .breadcrums {
    font-size: 15px;
    color: var(--text-color);
}

.page h1, .page h2, .page h3 {
    color: var(--text-color);
}

.page h1 {
    font-size: 43px;
}

.page h2 {
    font-size: 33px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.page h3 {
    font-size: 23px;
}

.page p {
    color: var(--text-color);
    line-height: 1.75rem;
    margin-top: 1.5rem;
    overflow-wrap: break-word;
    font-size: 16px;
}

.page p code {
    border-radius: 5px;
    border: hsla(0, 0%, 100%, .1) solid 1px;
    background-color: hsla(0, 0%, 100%, 0.05);
    padding: .125rem .25em;
    font-family: monospace;
}

.methods-grid td code {
    font-family: monospace;
}

.methods-grid td code.outline {
    border-radius: 5px;
    border: hsla(0, 0%, 100%, .1) solid 1px;
    background-color: hsla(0, 0%, 100%, 0.05);
    padding: 1px .25em 2px;
}

.methods-grid td code .optional {
    font-family: monospace;
    color: rgba(226, 232, 240, 0.5);
}

.info-box {
    width: 100%;
    padding: 15px;
    border-radius: 10px;

    display: flex;
    align-items: center;

    font-size: 16px;
}

.info-box i {
    font-size: 23px;
    margin-right: 11px;
}

.info-box-blue {
    color: var(--info-blue);
    border: 1px #485772 solid;
    background-color: #151E36;
}

.page .methods-grid {
    border-collapse: collapse;
    color: var(--text-color);
    width: 100%;
    min-width: 100%;
    /*table-layout: fixed; !*fixed; What's this?'*!*/
}

.methods-grid td, .methods-grid th {
    font-size: 16px;
}

.methods-grid td {
    border: 1px solid rgba(93, 93, 100, 0.2);
    padding: 11px 15px;
}

.methods-grid th {
    text-align: left;
    border: 1px solid var(--table-header-color);
    padding: 11px 15px;
    color: rgb(28, 28, 28);
    /*padding: 15px;*/
}

.methods-grid tr:has(th) {
    background-color: var(--table-header-color);
}

.methods-grid tr:nth-child(4n):not(:first-child), .methods-grid tr:nth-child(4n+1):not(:first-child) {
    background-color: rgba(44, 47, 56, 0.3);
    /*background-color: rgba(255, 0, 0, 0.76);*/

}

.methods-grid .method-info {
    line-height: 23px;
}

tr.has-dropdown input[type=checkbox] {
    display: none;
}





tr.has-dropdown:has(input[type=checkbox]:checked) + tr {
    display: table-row;
}

tr.has-dropdown + tr {
    display: none;
    position: relative;
}

tr.has-dropdown + tr .method-info {
    /*position: absolute;*/
    width: 100%;
    max-width: 100%;
    top: 0;
}

tr.has-dropdown + tr div {
    /*for dad*/
}

tr.has-dropdown + tr div .method-info {
    /*for dad*/
}

tr.has-dropdown td code:hover {
    text-decoration: underline;
    text-decoration-color: var(--text-color);
    cursor: pointer;
}

tr.has-dropdown:has(input[type=checkbox]:checked) td code {
    text-decoration: underline;
}

tr.has-dropdown:has(input[type=checkbox]:checked) td code:not(:hover) {
    text-decoration-color: rgba(226, 232, 240, 0.4);
}

/*.methods-grid tr:hover {background-color: #ddd;}*/

.copyright {
    margin-top: 40px;
    margin-bottom: 10px;
    color: white;
    font-size: 13px;
}